.table{
    margin-left:45%; 
}
#header {
    background: rgb(0,0,0);
background: linear-gradient(97deg, rgba(0,0,0,1) 0%, rgba(9,67,121,0.8181022408963585) 0%, rgba(0,212,255,1) 42%);
height: 10%;
}
chart {
    display : block;
}
.moveme{
    margin-left:100px;
}